@page
@model WebApp.Pages.Samples.CategoryProductsModel
@{
    ViewData["Title"] = "Category Products CRUD";
}
<h1>CRUD Category Products</h1>

<p>@Model.Feedback</p>

<form method="post">
    <label>
        @*on a select tag
        option value is the data being returned for your selection
        the value between the opening tag and closing tag is being display on the
        web page
        *@
        Select a category:
        <select asp-for="categoryid">
            <option value="0">select ....</option>
             
            @* your code here*@
            @foreach(var cat in Model.CategoryList)
            {
                <option value="@cat.CategoryID">
                    @cat.CategoryName
                </option>
            }
        </select>
    </label>
    <br /><br />
    <button type="submit" asp-page-handler="Search">Search</button>&nbsp;&nbsp;
    <button type="submit" asp-page-handler="Clear">Clear</button>&nbsp;&nbsp;
    <button type="submit" asp-page-handler="New">New Product</button>
    <br /><br />
    @if (Model.ProductList != null)
    {
        if (Model.ProductList.Count() == 0)
        {
            <p>There are no products on file for the selected category.</p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Supplier</th>
                        <th>Unit Size</th>
                        <th>Disc</th>
                    </tr>
                </thead>
                <tbody>
                        @*   your code here            *@
                    @foreach(var item in Model.ProductList)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>
                                @* since this list will be display ONLY, I do not
                                    wish the user to change the position of the
                                    selected item in the list
                                    Solution: add the disable attribute to the select tag
                                *@
                                <select disabled="true">
                                    @foreach (var sup in Model.SupplierList)
                                    {
                                        @* how to position inside a select list
                                           so the appropriate text that matches
                                           the key value on the supplier record
                                           is the same as on the product record?
                                           Solution: use the selected attribute to position
                                                     inside the list
                                           Do I need the value attribute
                                           Depends:  if you are not expecting to obtain
                                                     data from this list on a post, then no
                                                     if you ARE expecting to obtain
                                                     data from this list on a post, the YES
                                                     AND you will need to include the value
                                                     attribute
                                        *@
                                        <option 
                                            value="@item.SupplierID"
                                            selected=@(sup.SupplierID == item.SupplierID)>
                                            @sup.CompanyName
                                        </option>
                                    }
                                </select>
                            </td>
                            <td>@item.QuantityPerUnit</td>
                            <td><input type="checkbox"
                                checked="@item.Discontinued" /></td>
                        </tr>
                    }
                    
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        }
    }

</form>
